In [96]:
# This notebook contains data cleaning, DataFrame creation, point maps and grouped bar charts

In [97]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)

In [98]:
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config_FY import gKey

In [99]:
# read data files (by zip codes) into Pandas
# add columns "City", "State"
# match city, state to zip codes and store into column "City" and "State"
# group DataFrame by "City" and "State"


l = ['2012', '2013', '2014','2015', '2016']

#myList_zip= []
myList_city = []

# load each each year's data file, convert to DataFrame and store into list
for item in l:
    
    #dataframe_name = f"census_{item}"
    df = pd.read_csv(f"Data/census_{item}.csv")
    df = df.reset_index(inplace=False, drop=True)
    df['year']=item
    
    #clean census data
    
    df = df.sort_values(by="Zipcode", ascending = True)
    #remove erroraneous values in the census data
    df = df[df["Median Household Income"]>0]
    df = df[df["median_gross_rent"]>0]
    df = df[df["median_monthly_owner_costs"]>0]
    #convert to numeric 
    df = df.apply(pd.to_numeric, errors='ignore')
    
    # add city, state name columns to DataFrames
    # create lists to hold values
    city_list = []
    state_list = []
    
    for zipCode in df['Zipcode'].tolist():
        
        #match info to zip code
        city = search.by_zipcode(zipCode).to_dict()['major_city']
        state = search.by_zipcode(zipCode).to_dict()['state']
     
        #collect info into lists
        city_list.append(city)
        state_list.append(state)

       
    # convert lists into columns of DataFrames
    df['City'] = city_list
    df['State'] = state_list

    
    #create a df grouped by city, state
    city_state_grp = df.groupby(["State", "City"])

    new_df = pd.DataFrame({f"{item} Median Age": city_state_grp["Median Age"].mean(),
                           f"{item} Total Population": city_state_grp["Total Population"].sum(),
                           f"{item} Poverty Count": city_state_grp["Poverty Count"].sum(),
                           f"{item} Median Household Income": city_state_grp["Median Household Income"].mean(),
                           f"{item} Employed": city_state_grp["employment_employed"].sum(),
                           f"{item} Unemployed": city_state_grp["employment_unemployed"].sum(),
                           f"{item} Monthly Rent": city_state_grp["median_gross_rent"].mean(),
                           f"{item} Owner Monthly Costs": city_state_grp["median_monthly_owner_costs"].mean()
                        })  
      
          
    #obtain list of dfs by city, state name
    myList_city.append(new_df)
    
    #rename dfs
    #df =  df.rename(columns={"Median Age": f"{item} Median Age",
                            # "Total Population": f"{item} Total Population",
                            # "Poverty Count": f"{item} Poverty Count",
                            # "Median Household Income": f"{item} Median Household Income",
                            # "employment_employed": f"{item} Employed",
                            # "employment_unemployed": f"{item} Unemployed",
                            # "median_gross_rent": f"{item} Monthly Rent",
                            # "median_monthly_owner_costs": f"{item} Owner Monthly Costs"})
    
    #df = df[['City', 'State', 'Zipcode', 'Lat', 'Lng',
             #f"{item} Median Age", f"{item} Total Population", f"{item} Poverty Count", 
             #f"{item} Median Household Income", f"{item} Employed", f"{item} Unemployed",
             #f"{item} Monthly Rent", f"{item} Owner Monthly Costs"]]
    
    #obtain list of dfs by zip code
    #myList_zip.append(df)

In [100]:
# reset index and add one column "City, State" by combining the column "City" & "State" for merging
for i in range(0, len(myList_city)):
    myList_city[i] = myList_city[i].reset_index()
    myList_city[i]["City, State"] = myList_city[i]['City']+ ", " + myList_city[i]['State']

In [101]:
# Create a combined DataFrame by merging every DataFrame in list
#merge_zip = pd.merge(myList_zip[0], myList_zip[1], how='outer', on='Zipcode' )
merge_city = pd.merge(myList_city[0], myList_city[1], how='outer', on='City, State' )

for i in range(2, len(l)):
    #merge_zip = pd.merge(merge_zip, myList_zip[i], how='outer', on='Zipcode')
    merge_city = pd.merge(merge_city, myList_city[i], how='outer', on='City, State')

In [102]:
merge_city.head()

,State_x,City_x,2012 Median Age,2012 Total Population,2012 Poverty Count,2012 Median Household Income,2012 Employed,2012 Unemployed,2012 Monthly Rent,2012 Owner Monthly Costs,...,State,City,2016 Median Age,2016 Total Population,2016 Poverty Count,2016 Median Household Income,2016 Employed,2016 Unemployed,2016 Monthly Rent,2016 Owner Monthly Costs
0,AK,Akiachak,24.5,638.0,154.0,43750.0,178.0,54.0,768.0,607.0,...,AK,Akiachak,26.5,584.0,174.0,32917.0,149.0,54.0,650.0,456.0
1,AK,Akutan,42.5,932.0,128.0,37500.0,912.0,6.0,525.0,450.0,...,AK,Akutan,44.0,782.0,130.0,24464.0,746.0,0.0,338.0,325.0
2,AK,Alakanuk,22.8,570.0,192.0,33750.0,143.0,40.0,375.0,543.0,...,AK,Alakanuk,20.3,737.0,318.0,32000.0,152.0,77.0,728.0,588.0
3,AK,Aleknagik,29.0,208.0,27.0,52143.0,63.0,31.0,930.0,575.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AK,Ambler,25.3,240.0,100.0,43333.0,52.0,45.0,1167.0,1063.0,...,AK,Ambler,27.1,295.0,68.0,41429.0,92.0,28.0,775.0,1063.0

In [103]:

merge_city.drop(['State_x', 'State_y', 'City_x', 'City_y'], axis=1, inplace=True)

In [104]:
#merge_zip.drop(['State_x', 'State_y', 'City_x', 'City_y','Lat_x','Lat_y', 'Lng_x', 'Lng_y'], axis=1, inplace=True)

In [105]:
# remove NA
#merge_zip.dropna(inplace=True)
merge_city.dropna(inplace=True)

In [106]:
# calculate growth rates and 5-year average growth rate
for year in [2013, 2014, 2015, 2016]:
    
    merge_city[f"Population Growth Rate ({year-1} to {year})"] = (merge_city[f"{year} Total Population"] - merge_city[f"{year-1} Total Population"])/merge_city[f"{year-1} Total Population"]
    merge_city[f"Median Age Growth Rate ({year-1} to {year})"] = (merge_city[f"{year} Median Age"] - merge_city[f"{year-1} Median Age"])/merge_city[f"{year-1} Median Age"]
    merge_city[f"Poverty Count Growth Rate ({year-1} to {year})"] = (merge_city[f"{year} Poverty Count"] - merge_city[f"{year-1} Poverty Count"])/merge_city[f"{year-1} Poverty Count"]
    merge_city[f"Median Household Income Growth Rate ({year-1} to {year})"] = (merge_city[f"{year} Median Household Income"] - merge_city[f"{year-1} Median Household Income"])/merge_city[f"{year-1} Median Household Income"]
    merge_city[f"Employed Growth Rate ({year-1} to {year})"] = (merge_city[f"{year} Employed"] - merge_city[f"{year-1} Employed"])/merge_city[f"{year-1} Employed"]
    merge_city[f"Unemployed Growth Rate ({year-1} to {year})"] = (merge_city[f"{year} Unemployed"] - merge_city[f"{year-1} Unemployed"])/merge_city[f"{year-1} Unemployed"]
    merge_city[f"Monthly Rent Growth Rate ({year-1} to {year})"] = (merge_city[f"{year} Monthly Rent"] - merge_city[f"{year-1} Monthly Rent"])/merge_city[f"{year-1} Monthly Rent"]
    merge_city[f"Owner Monthly Costs Growth Rate ({year-1} to {year})"] = (merge_city[f"{year} Owner Monthly Costs"] - merge_city[f"{year-1} Owner Monthly Costs"])/merge_city[f"{year-1} Owner Monthly Costs"]
    
    
    #merge_zip[f"Population Growth Rate ({year-1} to {year})"] = (merge_zip[f"{year} Total Population"] - merge_zip[f"{year-1} Total Population"])/merge_zip[f"{year-1} Total Population"]
    #merge_zip[f"Median Age Growth Rate ({year-1} to {year})"] = (merge_zip[f"{year} Median Age"] - merge_zip[f"{year-1} Median Age"])/merge_zip[f"{year-1} Median Age"]
    #merge_zip[f"Poverty Count Growth Rate ({year-1} to {year})"] = (merge_zip[f"{year} Poverty Count"] - merge_zip[f"{year-1} Poverty Count"])/merge_zip[f"{year-1} Poverty Count"]
    #merge_zip[f"Median Household Income Growth Rate ({year-1} to {year})"] = (merge_zip[f"{year} Median Household Income"] - merge_zip[f"{year-1} Median Household Income"])/merge_zip[f"{year-1} Median Household Income"]
    #merge_zip[f"Employed Growth Rate ({year-1} to {year})"] = (merge_zip[f"{year} Employed"] - merge_zip[f"{year-1} Employed"])/merge_zip[f"{year-1} Employed"]
    #merge_zip[f"UnemplGrowth Rate ({year-1} to {year})"] = (merge_zip[f"{year} Unemployed"] - merge_zip[f"{year-1} Unemployed"])/merge_zip[f"{year-1} Unemployed"]
    #merge_zip[f"Month Rent Growth Rate ({year-1} to {year})"] = (merge_zip[f"{year} Monthly Rent"] - merge_zip[f"{year-1} Monthly Rent"])/merge_zip[f"{year-1} Monthly Rent"]
    #merge_zip[f"Owner Monthly Costs Growth Rate ({year-1} to {year})"] = (merge_zip[f"{year} Owner Monthly Costs"] - merge_zip[f"{year-1} Owner Monthly Costs"])/merge_zip[f"{year-1} Owner Monthly Costs"]
    
merge_city["5-Year Average Population Growth Rate"] = 100*sum([merge_city["Population Growth Rate (2012 to 2013)"],
                                                           merge_city["Population Growth Rate (2013 to 2014)"],
                                                           merge_city["Population Growth Rate (2014 to 2015)"],
                                                           merge_city["Population Growth Rate (2015 to 2016)"]])/4
merge_city["5-Year Average Age Growth Rate"] = 100*sum([merge_city["Median Age Growth Rate (2012 to 2013)"],
                                                    merge_city["Median Age Growth Rate (2013 to 2014)"],
                                                    merge_city["Median Age Growth Rate (2014 to 2015)"],
                                                    merge_city["Median Age Growth Rate (2015 to 2016)"]])/4
merge_city["5-Year Average Poverty Count Growth Rate"] = 100*sum([merge_city["Poverty Count Growth Rate (2012 to 2013)"],
                                                              merge_city["Poverty Count Growth Rate (2013 to 2014)"],
                                                              merge_city["Poverty Count Growth Rate (2014 to 2015)"],
                                                              merge_city["Poverty Count Growth Rate (2015 to 2016)"]])/4
merge_city["5-Year Average Median Household Income Growth Rate"] = 100*sum([merge_city["Median Household Income Growth Rate (2012 to 2013)"],
                                                                        merge_city["Median Household Income Growth Rate (2013 to 2014)"],
                                                                        merge_city["Median Household Income Growth Rate (2014 to 2015)"],
                                                                        merge_city["Median Household Income Growth Rate (2015 to 2016)"]])/4
merge_city["5-Year Average Employed Growth Rate"] = 100*sum([merge_city["Employed Growth Rate (2012 to 2013)"],
                                                         merge_city["Employed Growth Rate (2013 to 2014)"],
                                                         merge_city["Employed Growth Rate (2014 to 2015)"],
                                                         merge_city["Employed Growth Rate (2015 to 2016)"]])/4
merge_city["5-Year Average Unemployed Growth Rate"] = 100*sum([merge_city["Unemployed Growth Rate (2012 to 2013)"],
                                                           merge_city["Unemployed Growth Rate (2013 to 2014)"],
                                                           merge_city["Unemployed Growth Rate (2014 to 2015)"],
                                                           merge_city["Unemployed Growth Rate (2015 to 2016)"]])/4
merge_city["5-Year Average Monthly Rent Growth Rate"] = 100*sum([merge_city["Monthly Rent Growth Rate (2012 to 2013)"],
                                                             merge_city["Monthly Rent Growth Rate (2013 to 2014)"],
                                                             merge_city["Monthly Rent Growth Rate (2014 to 2015)"],
                                                             merge_city["Monthly Rent Growth Rate (2015 to 2016)"]])/4
merge_city["5-Year Average Owner Monthly Costs Growth Rate"] = 100*sum([merge_city["Owner Monthly Costs Growth Rate (2012 to 2013)"],
                                                                    merge_city["Owner Monthly Costs Growth Rate (2013 to 2014)"],
                                                                    merge_city["Owner Monthly Costs Growth Rate (2014 to 2015)"],
                                                                    merge_city["Owner Monthly Costs Growth Rate (2015 to 2016)"]])/4

In [107]:
# sort data by "5-Year Average Population Growth Rate"
merge_city.sort_values(by="5-Year Average Population Growth Rate", inplace=True, ascending=False)
merge_city.reset_index(drop=True, inplace=True)
#merge_city.to_csv("merge_Growth_by_City.csv")
merge_city.head()

,2012 Median Age,2012 Total Population,2012 Poverty Count,2012 Median Household Income,2012 Employed,2012 Unemployed,2012 Monthly Rent,2012 Owner Monthly Costs,"City, State",2013 Median Age,...,Monthly Rent Growth Rate (2015 to 2016),Owner Monthly Costs Growth Rate (2015 to 2016),5-Year Average Population Growth Rate,5-Year Average Age Growth Rate,5-Year Average Poverty Count Growth Rate,5-Year Average Median Household Income Growth Rate,5-Year Average Employed Growth Rate,5-Year Average Unemployed Growth Rate,5-Year Average Monthly Rent Growth Rate,5-Year Average Owner Monthly Costs Growth Rate
0,43.1,661.0,116.0,27031.0,247.0,4.0,579.0,1018.0,"Granville, WV",43.1,...,0.052464,-0.065073,39.100810,-5.763952,44.988900,4.895119,45.974887,90.673077,3.516147,-7.590063
1,56.1,471.0,27.0,63520.0,203.0,21.0,1375.0,1996.0,"Odessa, DE",55.8,...,-0.167005,-0.007711,30.576577,-8.621733,25.746187,9.512039,31.664623,19.096880,-2.159022,-3.899914
2,47.3,521.0,68.0,39268.0,235.0,66.0,523.0,1163.0,"Williamsport, TN",41.6,...,0.262185,-0.025217,29.568720,-7.301365,85.808816,-4.775454,26.971321,-4.552111,11.638294,1.644352
3,48.2,448.0,81.0,35750.0,185.0,13.0,148.0,918.0,"Seville, FL",43.5,...,-0.035917,-0.007246,27.151084,-3.769747,66.072702,6.842026,31.507831,10.526973,43.102603,1.252009
4,34.9,3880.0,330.0,81290.0,1691.0,112.0,1567.0,2247.0,"Ponte Vedra, FL",36.2,...,0.134442,0.036018,26.292596,0.931991,-9.416824,4.550511,25.439082,27.217690,1.632026,-1.954951

In [108]:
merge_city.columns

Index(['2012 Median Age', '2012 Total Population', '2012 Poverty Count',
       '2012 Median Household Income', '2012 Employed', '2012 Unemployed',
       '2012 Monthly Rent', '2012 Owner Monthly Costs', 'City, State',
       '2013 Median Age', '2013 Total Population', '2013 Poverty Count',
       '2013 Median Household Income', '2013 Employed', '2013 Unemployed',
       '2013 Monthly Rent', '2013 Owner Monthly Costs', '2014 Median Age',
       '2014 Total Population', '2014 Poverty Count',
       '2014 Median Household Income', '2014 Employed', '2014 Unemployed',
       '2014 Monthly Rent', '2014 Owner Monthly Costs', '2015 Median Age',
       '2015 Total Population', '2015 Poverty Count',
       '2015 Median Household Income', '2015 Employed', '2015 Unemployed',
       '2015 Monthly Rent', '2015 Owner Monthly Costs', 'State', 'City',
       '2016 Median Age', '2016 Total Population', '2016 Poverty Count',
       '2016 Median Household Income', '2016 Employed', '2016 Unemployed',
       '2016 Monthly Rent', '2016 Owner Monthly Costs',
       'Population Growth Rate (2012 to 2013)',
       'Median Age Growth Rate (2012 to 2013)',
       'Poverty Count Growth Rate (2012 to 2013)',
       'Median Household Income Growth Rate (2012 to 2013)',
       'Employed Growth Rate (2012 to 2013)',
       'Unemployed Growth Rate (2012 to 2013)',
       'Monthly Rent Growth Rate (2012 to 2013)',
       'Owner Monthly Costs Growth Rate (2012 to 2013)',
       'Population Growth Rate (2013 to 2014)',
       'Median Age Growth Rate (2013 to 2014)',
       'Poverty Count Growth Rate (2013 to 2014)',
       'Median Household Income Growth Rate (2013 to 2014)',
       'Employed Growth Rate (2013 to 2014)',
       'Unemployed Growth Rate (2013 to 2014)',
       'Monthly Rent Growth Rate (2013 to 2014)',
       'Owner Monthly Costs Growth Rate (2013 to 2014)',
       'Population Growth Rate (2014 to 2015)',
       'Median Age Growth Rate (2014 to 2015)',
       'Poverty Count Growth Rate (2014 to 2015)',
       'Median Household Income Growth Rate (2014 to 2015)',
       'Employed Growth Rate (2014 to 2015)',
       'Unemployed Growth Rate (2014 to 2015)',
       'Monthly Rent Growth Rate (2014 to 2015)',
       'Owner Monthly Costs Growth Rate (2014 to 2015)',
       'Population Growth Rate (2015 to 2016)',
       'Median Age Growth Rate (2015 to 2016)',
       'Poverty Count Growth Rate (2015 to 2016)',
       'Median Household Income Growth Rate (2015 to 2016)',
       'Employed Growth Rate (2015 to 2016)',
       'Unemployed Growth Rate (2015 to 2016)',
       'Monthly Rent Growth Rate (2015 to 2016)',
       'Owner Monthly Costs Growth Rate (2015 to 2016)',
       '5-Year Average Population Growth Rate',
       '5-Year Average Age Growth Rate',
       '5-Year Average Poverty Count Growth Rate',
       '5-Year Average Median Household Income Growth Rate',
       '5-Year Average Employed Growth Rate',
       '5-Year Average Unemployed Growth Rate',
       '5-Year Average Monthly Rent Growth Rate',
       '5-Year Average Owner Monthly Costs Growth Rate'],
      dtype='object')

In [109]:
# select data with 2012 Total Population >= 2000000 and save file as csv for further analysis
merge_city[merge_city['2012 Total Population']>= 200000].to_csv("Data/merge_city_pop_greater_than_200k.csv")

In [110]:
# Create a smaller DataFrame with only 5-Year Average Growth Rates, 2012 Population, 2016 Population, and appropriate labels
merge_city_5yAverage = merge_city[['City', 'State', 'City, State', '2012 Total Population', '2016 Total Population',
                                  '5-Year Average Population Growth Rate',
                                  '5-Year Average Age Growth Rate',
                                  '5-Year Average Poverty Count Growth Rate',
                                  '5-Year Average Median Household Income Growth Rate',
                                  '5-Year Average Employed Growth Rate',
                                  '5-Year Average Unemployed Growth Rate',
                                  '5-Year Average Monthly Rent Growth Rate',
                                  '5-Year Average Owner Monthly Costs Growth Rate']]


#select cities with 2012 base population >= 200,000
merge_city_5yAverage = merge_city_5yAverage[merge_city_5yAverage['2012 Total Population']>=200000]

merge_city_5yAverage.head()

,City,State,"City, State",2012 Total Population,2016 Total Population,5-Year Average Population Growth Rate,5-Year Average Age Growth Rate,5-Year Average Poverty Count Growth Rate,5-Year Average Median Household Income Growth Rate,5-Year Average Employed Growth Rate,5-Year Average Unemployed Growth Rate,5-Year Average Monthly Rent Growth Rate,5-Year Average Owner Monthly Costs Growth Rate
1003,Katy,TX,"Katy, TX",247294.0,311311.0,5.924817,0.632505,2.458720,1.698790,6.507591,2.387433,2.489258,0.071222
2252,Irvine,CA,"Irvine, CA",214291.0,247802.0,3.699406,0.376676,6.953642,0.198074,3.058651,0.897965,2.459216,-1.015132
2383,Kissimmee,FL,"Kissimmee, FL",232075.0,266837.0,3.552188,0.383692,7.990001,-0.120192,2.888022,-6.789064,0.613190,-3.393180
2939,Spring,TX,"Spring, TX",323197.0,363874.0,3.010138,0.493035,2.651771,1.505416,2.607840,-4.213583,3.375424,0.448610
3474,New Orleans,LA,"New Orleans, LA",379926.0,421027.0,2.606485,0.556808,1.782645,1.853025,3.083344,-1.498844,1.206043,0.413636

In [111]:
# geocode "City" and "State" columns, add columns "Lat" and "Lng"
merge_city_5yAverage["Lat"] = ""
merge_city_5yAverage["Lng"] = ""


# Geocode the cities
params = {"key": gKey}

# Loop through the merge_city_5yAverage and run a lat/long search for each city
for index, row in merge_city_5yAverage.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    
    city =  row['City']
    state =  row['State']
    
    # update address key value
    params["address"] = f"{city},{state}"
    
    # make requests
    cities_lat_lng = requests.get(base_url, params=params).json()
    
    merge_city_5yAverage.loc[index, "Lat"] = float(cities_lat_lng["results"][0]["geometry"]["location"]["lat"])
    merge_city_5yAverage.loc[index, "Lng"] = float(cities_lat_lng["results"][0]["geometry"]["location"]["lng"])

merge_city_5yAverage.head(10)

,City,State,"City, State",2012 Total Population,2016 Total Population,5-Year Average Population Growth Rate,5-Year Average Age Growth Rate,5-Year Average Poverty Count Growth Rate,5-Year Average Median Household Income Growth Rate,5-Year Average Employed Growth Rate,5-Year Average Unemployed Growth Rate,5-Year Average Monthly Rent Growth Rate,5-Year Average Owner Monthly Costs Growth Rate,Lat,Lng
1003,Katy,TX,"Katy, TX",247294.0,311311.0,5.924817,0.632505,2.458720,1.698790,6.507591,2.387433,2.489258,0.071222,29.7858,-95.8244
2252,Irvine,CA,"Irvine, CA",214291.0,247802.0,3.699406,0.376676,6.953642,0.198074,3.058651,0.897965,2.459216,-1.015132,33.6846,-117.827
2383,Kissimmee,FL,"Kissimmee, FL",232075.0,266837.0,3.552188,0.383692,7.990001,-0.120192,2.888022,-6.789064,0.613190,-3.393180,28.292,-81.4076
2939,Spring,TX,"Spring, TX",323197.0,363874.0,3.010138,0.493035,2.651771,1.505416,2.607840,-4.213583,3.375424,0.448610,30.0799,-95.4172
3474,New Orleans,LA,"New Orleans, LA",379926.0,421027.0,2.606485,0.556808,1.782645,1.853025,3.083344,-1.498844,1.206043,0.413636,29.9511,-90.0715
3684,Jamaica,NY,"Jamaica, NY",221013.0,243431.0,2.459357,-0.216112,1.467056,1.118183,2.840704,-0.515700,1.792983,0.470125,40.7027,-73.789
3752,Austin,TX,"Austin, TX",954661.0,1049650.0,2.400148,1.093169,-1.137439,2.925616,3.034741,-5.996052,3.842189,1.435023,30.2672,-97.7431
4029,Bradenton,FL,"Bradenton, FL",219598.0,239761.0,2.224023,0.848053,3.973129,0.593417,1.961801,-9.689310,3.107354,-4.007652,27.4989,-82.5748
4178,Charlotte,NC,"Charlotte, NC",798534.0,869225.0,2.143310,0.439466,1.985717,2.134120,2.752327,-2.890301,3.028066,-1.238177,35.2271,-80.8431
4206,Alexandria,VA,"Alexandria, VA",318283.0,346200.0,2.126363,-0.042717,6.480450,1.751767,2.006348,-0.566090,3.211579,-0.118388,38.8048,-77.0469

In [112]:
# create point maps
# import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [113]:
df = merge_city_5yAverage

df['text'] = df['City'] + ', ' + df['State'] + ' ' + 'Pop Growth Rate: ' + round(df['5-Year Average Population Growth Rate'],1).astype(str)

#scl = [ [0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
    #[0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"] ]
scl = [[0, 'rgb(166,206,227)'], [0.25, 'rgb(31,120,180)'], [0.45, 'rgb(178,223,138)'], [0.65, 'rgb(51,160,44)'], [0.85, 'rgb(251,154,153)'], [1, 'rgb(227,26,28)']]

data = [ dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df['Lng'],
        lat = df['Lat'],
        text = df['text'],
        mode = 'markers',
        marker = dict(
            size = 10,
            opacity = 0.8,
            reversescale = True,
            autocolorscale = False,
            symbol = 'square',
            line = dict(
                width=1,
                color='rgba(102, 102, 102)'
            ),
            colorscale = scl,
            cmin = 0,
            color = df['5-Year Average Population Growth Rate'],
            cmax = df['5-Year Average Population Growth Rate'].max(),
            colorbar=dict(
                title="Average<br>Population<br>Growth<br>Rate (%)"
            )
        ))]

layout = dict(
        title = 'U.S. Population',
        font = dict(family='Arial, monospace', size=18, color='black'),
        colorbar = dict(len=5),
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = "rgb(250, 250, 250)",
            subunitcolor = "rgb(217, 217, 217)",
            countrycolor = "rgb(217, 217, 217)",
            countrywidth = 2.5,
            subunitwidth = 2.5
        ),
    )

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='US cities population growth' )

In [114]:
df = merge_city_5yAverage

df['text'] = df['City'] + ', ' + df['State'] + ' ' + 'Pop Growth Rate: ' + round(df['5-Year Average Median Household Income Growth Rate'],1).astype(str)

#scl = [ [0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
    #[0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"] ]
#scl = 'custom-colorscale'
scl = [[0, 'rgb(166,206,227)'], [0.25, 'rgb(31,120,180)'], [0.45, 'rgb(178,223,138)'], [0.65, 'rgb(51,160,44)'], [0.85, 'rgb(251,154,153)'], [1, 'rgb(227,26,28)']]

data = [ dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df['Lng'],
        lat = df['Lat'],
        text = df['text'],
        mode = 'markers',
        marker = dict(
            size = 10,
            opacity = 0.8,
            reversescale = True,
            autocolorscale = False,
            symbol = 'circle',
            line = dict(
                width=1.5,
                color='rgba(102, 102, 102)'
            ),
            colorscale = scl,
            cmin = 0,
            color = df['5-Year Average Median Household Income Growth Rate'],
            cmax = df['5-Year Average Median Household Income Growth Rate'].max(),
            colorbar=dict(
                title="Average<br>Median<br>Household<br>Income<br>Growth<br>Rate (%)"
            )
        ))]

layout = dict(
        title = 'U.S. Median Household Income',
        font = dict(family='Arial, monospace', size=18, color='black'),
        colorbar = dict(len=5),
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = "rgb(250, 250, 250)",
            subunitcolor = "rgb(217, 217, 217)",
            countrycolor = "rgb(217, 217, 217)",
            countrywidth = 2.5,
            subunitwidth = 2.5
        ),
    )

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='US cities income growth' )

In [115]:
df = merge_city_5yAverage

df['text'] = df['City'] + ', ' + df['State'] + ' ' + 'Pop Growth Rate: ' + round(df['5-Year Average Employed Growth Rate'],1).astype(str)

#scl = [ [0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
    #[0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"] ]
#scl = 'custom-colorscale'
scl = [[0, 'rgb(166,206,227)'], [0.25, 'rgb(31,120,180)'], [0.45, 'rgb(178,223,138)'], [0.65, 'rgb(51,160,44)'], [0.85, 'rgb(251,154,153)'], [1, 'rgb(227,26,28)']]
data = [ dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df['Lng'],
        lat = df['Lat'],
        text = df['text'],
        mode = 'markers',
        marker = dict(
            size = 10,
            opacity = 0.8,
            reversescale = True,
            autocolorscale = False,
            symbol = 'circle',
            line = dict(
                width=1.5,
                color='rgba(102, 102, 102)'
            ),
            colorscale = scl,
            cmin = 0,
            color = df['5-Year Average Employed Growth Rate'],
            cmax = df['5-Year Average Employed Growth Rate'].max(),
            colorbar=dict(
                title="Average<br>Employment<br>Growth<br>Rate (%)"
            )
        ))]

layout = dict(
        title = 'U.S. Employment Count',
        font = dict(family='Arial, monospace', size=18, color='black'),
        colorbar = dict(len=5),
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = "rgb(250, 250, 250)",
            subunitcolor = "rgb(217, 217, 217)",
            countrycolor = "rgb(217, 217, 217)",
            countrywidth = 2.5,
            subunitwidth = 2.5
        ),
    )

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='US cities employment growth' )

In [116]:
df = merge_city_5yAverage

df['text'] = df['City'] + ', ' + df['State'] + ' ' + 'Pop Growth Rate: ' + round(df['5-Year Average Monthly Rent Growth Rate'],1).astype(str)

#scl = [ [0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
   # [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"] ]
#scl = 'custom-colorscale'
scl = [[0, 'rgb(166,206,227)'], [0.25, 'rgb(31,120,180)'], [0.45, 'rgb(178,223,138)'], [0.65, 'rgb(51,160,44)'], [0.85, 'rgb(251,154,153)'], [1, 'rgb(227,26,28)']]

data = [ dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df['Lng'],
        lat = df['Lat'],
        text = df['text'],
        mode = 'markers',
        marker = dict(
            size = 10,
            opacity = 0.8,
            reversescale = True,
            autocolorscale = False,
            symbol = 'circle',
            line = dict(
                width=1,
                color='rgba(102, 102, 102)'
            ),
            colorscale = scl,
            cmin = 0,
            color = df['5-Year Average Monthly Rent Growth Rate'],
            cmax = df['5-Year Average Monthly Rent Growth Rate'].max(),
            colorbar=dict(
                title="Average<br>Monthly<br>Gross<br>Rent<br>Growth<br>Rate (%)"
            )
        ))]

layout = dict(
        title = 'U.S. Monthly Gross Rent',
        font = dict(family='Arial, monospace', size=18, color='black'),
        colorbar = dict(len=5),
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = "rgb(250, 250, 250)",
            subunitcolor = "rgb(217, 217, 217)",
            countrycolor = "rgb(217, 217, 217)",
            countrywidth = 2.5,
            subunitwidth = 2.5
        ),
    )

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='US cities employment growth' )

In [117]:
df = merge_city_5yAverage

df['text'] = df['City'] + ', ' + df['State'] + ' ' + 'Pop Growth Rate: ' + round(df['5-Year Average Owner Monthly Costs Growth Rate'],1).astype(str)

#scl = [ [0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
    #[0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"] ]
#scl = 'custom-colorscale'

Scl = [[0, 'rgb(166,206,227)'], [0.25, 'rgb(31,120,180)'], [0.45, 'rgb(178,223,138)'], [0.65, 'rgb(51,160,44)'], [0.85, 'rgb(251,154,153)'], [1, 'rgb(227,26,28)']]

data = [ dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df['Lng'],
        lat = df['Lat'],
        text = df['text'],
        mode = 'markers',
        marker = dict(
            size = 10,
            opacity = 0.8,
            reversescale = True,
            autocolorscale = False,
            symbol = 'circle',
            line = dict(
                width=1.5,
                color='rgba(102, 102, 102)'
            ),
            colorscale = scl,
            cmin = 0,
            color = df['5-Year Average Owner Monthly Costs Growth Rate'],
            cmax = df['5-Year Average Owner Monthly Costs Growth Rate'].max(),
            colorbar=dict(
                title="Average<br>Owner<br>Monthly<br>Costs<br>Growth<br>Rate (%)"
            )
        ))]

layout = dict(
        title = 'U.S. Owner Monthly Cost',
        font = dict(family='Arial, monospace', size=18, color='black'),
        colorbar = dict(len=5),
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = "rgb(250, 250, 250)",
            subunitcolor = "rgb(217, 217, 217)",
            countrycolor = "rgb(217, 217, 217)",
            countrywidth = 2.5,
            subunitwidth = 2.5
        ),
    )

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='US cities owner monthly cost growth' )

In [118]:
from scipy import stats

In [119]:
#Calculate percentile scores for age, income, employed, unemployed, rent, owner cost for every city by year
l = ['2012', '2013', '2014','2015', '2016']

for year in l :
    
    merge_city[f"{year} Median Age Percentile"] = [ stats.percentileofscore(merge_city[f"{year} Median Age"], i) for i in merge_city[f"{year} Median Age"]]
    merge_city[f"{year} Poverty Count Percentile"] = [ stats.percentileofscore(merge_city[f"{year} Poverty Count"], i) for i in merge_city[f"{year} Poverty Count"]]
    merge_city[f"{year} Median Household Income Percentile"] = [ stats.percentileofscore(merge_city[f"{year} Median Household Income"], i) for i in merge_city[f"{year} Median Household Income"]]
    merge_city[f"{year} Employed Percentile"] = [ stats.percentileofscore(merge_city[f"{year} Employed"], i) for i in merge_city[f"{year} Employed"]]
    merge_city[f"{year} Unemployed Percentile"] = [ stats.percentileofscore(merge_city[f"{year} Unemployed"], i) for i in merge_city[f"{year} Unemployed"]]
    merge_city[f"{year} Monthly Rent Percentile"] = [ stats.percentileofscore(merge_city[f"{year} Monthly Rent"], i) for i in merge_city[f"{year} Monthly Rent"]]
    merge_city[f"{year} Owner Monthly Costs Percentile"] = [ stats.percentileofscore(merge_city[f"{year} Owner Monthly Costs"], i) for i in merge_city[f"{year} Owner Monthly Costs"]]

In [120]:
 merge_city.head()

,2012 Median Age,2012 Total Population,2012 Poverty Count,2012 Median Household Income,2012 Employed,2012 Unemployed,2012 Monthly Rent,2012 Owner Monthly Costs,"City, State",2013 Median Age,...,2015 Unemployed Percentile,2015 Monthly Rent Percentile,2015 Owner Monthly Costs Percentile,2016 Median Age Percentile,2016 Poverty Count Percentile,2016 Median Household Income Percentile,2016 Employed Percentile,2016 Unemployed Percentile,2016 Monthly Rent Percentile,2016 Owner Monthly Costs Percentile
0,43.1,661.0,116.0,27031.0,247.0,4.0,579.0,1018.0,"Granville, WV",43.1,...,9.365721,33.366597,3.314998,8.937351,53.906440,7.888332,37.876649,27.491116,38.222265,1.669669
1,56.1,471.0,27.0,63520.0,203.0,21.0,1375.0,1996.0,"Odessa, DE",55.8,...,19.361826,96.018108,83.702478,26.154895,10.407438,93.326194,24.609356,26.941050,90.811955,83.609989
2,47.3,521.0,68.0,39268.0,235.0,66.0,523.0,1163.0,"Williamsport, TN",41.6,...,22.190040,25.483133,63.113956,9.175875,48.617534,5.929027,23.110062,29.345763,56.216229,60.570511
3,48.2,448.0,81.0,35750.0,185.0,13.0,148.0,918.0,"Seville, FL",43.5,...,7.917539,12.332668,24.959840,43.640169,45.550796,38.799104,22.297133,11.354233,8.530886,23.803729
4,34.9,3880.0,330.0,81290.0,1691.0,112.0,1567.0,2247.0,"Ponte Vedra, FL",36.2,...,42.683639,95.562965,90.055007,16.467897,29.092635,95.463175,72.314170,64.211654,97.188823,91.281702

In [121]:
merge_city_percentile = merge_city[['City, State', '2012 Total Population',
                                    '2012 Median Age Percentile', '2012 Poverty Count Percentile', '2012 Median Household Income Percentile', '2012 Employed Percentile', '2012 Monthly Rent Percentile', '2012 Owner Monthly Costs Percentile',
                                    '2013 Median Age Percentile', '2013 Poverty Count Percentile', '2013 Median Household Income Percentile', '2013 Employed Percentile', '2013 Monthly Rent Percentile', '2013 Owner Monthly Costs Percentile',
                                    '2014 Median Age Percentile', '2014 Poverty Count Percentile', '2014 Median Household Income Percentile', '2014 Employed Percentile', '2014 Monthly Rent Percentile', '2014 Owner Monthly Costs Percentile',
                                    '2015 Median Age Percentile', '2015 Poverty Count Percentile', '2015 Median Household Income Percentile', '2015 Employed Percentile', '2015 Monthly Rent Percentile', '2015 Owner Monthly Costs Percentile',
                                    '2016 Median Age Percentile', '2016 Poverty Count Percentile', '2016 Median Household Income Percentile','2016 Employed Percentile', '2016 Monthly Rent Percentile', '2016 Owner Monthly Costs Percentile'
                                  ]]
top10_pctl = merge_city_percentile[merge_city_percentile['2012 Total Population']>=200000].head(10)

In [122]:
del top10_pctl['2012 Total Population']

In [123]:
#top10_pctl.describe()

In [124]:
list_pctl=[]
for index, row in top10_pctl.iterrows():
    d = pd.DataFrame({"City, State": [row["City, State"], row["City, State"], row["City, State"], row["City, State"], row["City, State"]],
                      "Median Age Percentile": [row["2012 Median Age Percentile"], row["2013 Median Age Percentile"], row["2014 Median Age Percentile"], row["2015 Median Age Percentile"], row["2016 Median Age Percentile"]],
                      "Poverty Count Percentile": [row["2012 Poverty Count Percentile"], row["2013 Poverty Count Percentile"], row["2014 Poverty Count Percentile"], row["2015 Poverty Count Percentile"], row["2016 Poverty Count Percentile"]],
                      "Median Household Income Percentile": [row["2012 Median Household Income Percentile"], row["2013 Median Household Income Percentile"],row["2014 Median Household Income Percentile"],row["2015 Median Household Income Percentile"],row["2016 Median Household Income Percentile"]],
                      "Employed Percentile": [row["2012 Employed Percentile"],row["2013 Employed Percentile"],row["2014 Employed Percentile"],row["2015 Employed Percentile"],row["2016 Employed Percentile"]],
                      "Monthly Rent Percentile": [row["2012 Monthly Rent Percentile"],row["2013 Monthly Rent Percentile"],row["2014 Monthly Rent Percentile"],row["2015 Monthly Rent Percentile"],row["2016 Monthly Rent Percentile"]],
                      "Owner Monthly Costs Percentile": [row["2012 Owner Monthly Costs Percentile"],row["2013 Owner Monthly Costs Percentile"],row["2014 Owner Monthly Costs Percentile"],row["2015 Owner Monthly Costs Percentile"],row["2016 Owner Monthly Costs Percentile"]]
                      })
    d['Year'] = l
    
    
    list_pctl.append(pd.DataFrame(d))

In [125]:
concat_top10_pctl = pd.DataFrame()
for i in range(0, len(list_pctl)):
    concat_top10_pctl = pd.concat([concat_top10_pctl, list_pctl[i]])

In [126]:
concat_top10_pctl

,"City, State",Median Age Percentile,Poverty Count Percentile,Median Household Income Percentile,Employed Percentile,Monthly Rent Percentile,Owner Monthly Costs Percentile,Year
0,"Katy, TX",9.200214,98.215937,95.273329,99.449934,91.963199,85.255318,2012
1,"Katy, TX",9.136932,98.354671,95.555664,99.469406,91.826900,85.722631,2013
2,"Katy, TX",9.874410,98.432556,95.502118,99.503481,91.683298,86.039040,2014
3,"Katy, TX",9.672394,98.437424,95.331743,99.527820,92.839410,86.384657,2015
4,"Katy, TX",9.560434,98.344935,95.721170,99.552159,93.304289,87.358224,2016
0,"Irvine, CA",11.057294,98.729494,94.723263,99.391520,98.895001,97.522270,2012
1,"Irvine, CA",11.405345,98.812247,94.143991,99.410992,98.875529,97.395707,2013
2,"Irvine, CA",10.134839,98.890133,94.582096,99.430463,98.792776,97.405442,2014
3,"Irvine, CA",11.342063,98.929076,94.324101,99.435331,98.943679,97.084165,2015
4,"Irvine, CA",10.972107,99.041036,93.613396,99.435331,99.075111,97.385971,2016
0,"Kissimmee, FL",14.783625,99.367181,45.830697,99.342842,88.682276,77.861072,2012
1,"Kissimmee, FL",14.262766,99.449934,41.284136,99.352578,87.555372,74.103101,2013
2,"Kissimmee, FL",14.511026,99.445066,40.607506,99.352578,86.813026,70.836781,2014
3,"Kissimmee, FL",14.842039,99.518084,36.976099,99.386652,87.606484,70.014117,2015
4,"Kissimmee, FL",14.744682,99.537555,37.589447,99.425595,87.771990,70.569050,2016
0,"Spring, TX",18.368787,98.383878,95.049409,99.620309,91.992406,85.440296,2012
1,"Spring, TX",17.864966,98.388746,95.190576,99.630044,91.924256,85.878401,2013
2,"Spring, TX",19.262036,98.359539,95.297668,99.630044,92.425644,86.637784,2014
3,"Spring, TX",18.288468,98.486102,95.370686,99.630044,93.701017,87.548070,2015
4,"Spring, TX",18.799591,98.520177,95.297668,99.630044,94.260819,88.129777,2016
0,"New Orleans, LA",17.514482,99.761476,21.296792,99.639780,77.534927,79.053692,2012
1,"New Orleans, LA",17.903909,99.766344,21.837122,99.649516,77.413231,79.165653,2013
2,"New Orleans, LA",17.650781,99.771212,21.968554,99.654383,77.155235,80.509176,2014
3,"New Orleans, LA",17.884438,99.771212,21.306528,99.664119,77.569002,81.623911,2015
4,"New Orleans, LA",18.371221,99.771212,23.983839,99.664119,77.768583,82.412501,2016
0,"Jamaica, NY",16.859758,99.289296,63.617777,99.308767,91.471547,93.749696,2012
1,"Jamaica, NY",14.978338,99.303899,63.846566,99.342842,91.607847,93.954145,2013
2,"Jamaica, NY",12.030862,99.333106,62.434893,99.357445,91.529962,94.401986,2014
3,"Jamaica, NY",12.792679,99.313635,61.806942,99.362313,91.943728,94.591832,2015
4,"Jamaica, NY",13.371952,99.294163,63.208879,99.372049,92.021613,95.141897,2016
0,"Austin, TX",10.538870,99.888040,82.913888,99.931850,86.121793,87.913158,2012
1,"Austin, TX",10.903958,99.888040,83.906927,99.931850,86.735141,89.052232,2013
2,"Austin, TX",11.600058,99.892908,84.724724,99.931850,87.494524,89.835954,2014
3,"Austin, TX",12.466534,99.878304,86.068247,99.936718,89.519544,90.556394,2015
4,"Austin, TX",13.347612,99.868568,86.783819,99.931850,90.541790,91.310909,2016
0,"Bradenton, FL",82.563404,99.167600,78.289442,99.196807,89.568223,85.342939,2012
1,"Bradenton, FL",83.609989,99.201675,75.490435,99.167600,89.183664,84.082169,2013
2,"Bradenton, FL",82.407633,99.206542,78.138539,99.211410,89.417320,81.915981,2014
3,"Bradenton, FL",83.726817,99.264956,76.118386,99.230882,89.392981,81.346444,2015
4,"Bradenton, FL",83.167016,99.284428,76.488342,99.226014,91.926690,80.044297,2016
0,"Charlotte, NC",10.042350,99.824758,71.795746,99.883172,76.941050,78.771358,2012
1,"Charlotte, NC",9.823297,99.824758,71.328433,99.883172,77.237989,78.484155,2013
2,"Charlotte, NC",10.110500,99.829626,72.662221,99.883172,78.313781,78.732415,2014
3,"Charlotte, NC",10.134839,99.829626,73.066251,99.883172,79.852018,78.474420,2015
4,"Charlotte, NC",9.818430,99.829626,75.480699,99.883172,81.784549,78.532834,2016
0,"Alexandria, VA",23.560337,98.695419,95.862338,99.659251,97.400574,94.650246,2012
1,"Alexandria, VA",22.017232,98.763569,96.519496,99.668987,97.624495,94.981259,2013
2,"Alexandria, VA",21.408752,98.836587,96.509760,99.673855,97.692645,95.088351,2014
3,"Alexandria, VA",19.666066,98.807380,96.616852,99.678723,98.121014,95.205179,2015
4,"Alexandria, VA",20.147982,99.002093,96.368593,99.668987,98.159957,95.531325,2016

In [127]:
merge_city_5yAverage.head(10).columns

Index(['City', 'State', 'City, State', '2012 Total Population',
       '2016 Total Population', '5-Year Average Population Growth Rate',
       '5-Year Average Age Growth Rate',
       '5-Year Average Poverty Count Growth Rate',
       '5-Year Average Median Household Income Growth Rate',
       '5-Year Average Employed Growth Rate',
       '5-Year Average Unemployed Growth Rate',
       '5-Year Average Monthly Rent Growth Rate',
       '5-Year Average Owner Monthly Costs Growth Rate', 'Lat', 'Lng', 'text'],
      dtype='object')

In [139]:
# grouped bar graph
cities = merge_city_5yAverage['City, State'].tolist()


Population = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Population Growth Rate'],
    name = "Population"
)
Age = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Age Growth Rate'],
    name = "Median Age"
)

data = [Population, Age]
layout = go.Layout( title = "",
                    barmode = 'group',
                   legend = dict(
                       x=0,
                       y=1,
                       font=dict(family='Arial', size=18, color='black'))
                  )

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='age-group-growth-bar')

In [134]:
cities = merge_city_5yAverage['City, State'].tolist()

Population = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Population Growth Rate'],
    name = "Population"
)

Poverty = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Poverty Count Growth Rate'],
    name = "Poverty Count"
)

data = [Population, Poverty]
layout = go.Layout( title = "",
                    barmode = 'group',
                   legend = dict(
                       x=0,
                       y=1,
                       font=dict(family='Arial', size=18, color='black'))
                  )

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='poverty-group-growth-bar')

In [135]:
cities = merge_city_5yAverage['City, State'].tolist()

Population = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Population Growth Rate'],
    name = "Population"
)

Income = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Median Household Income Growth Rate'],
    name = "Median Household Income"
)

data = [Population, Income]
layout = go.Layout( title = "",
                    barmode = 'group',
                   legend = dict(
                       x=0,
                       y=1,
                       font=dict(family='Arial', size=18, color='black'))
                   )

py.iplot(fig, filename='income-group-growth-bar')

In [136]:
cities = merge_city_5yAverage['City, State'].tolist()

Population = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Population Growth Rate'],
    name = "Population"
)

Employed = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Employed Growth Rate'],
    name = "Employment Count"
)


data = [Population, Employed]
layout = go.Layout( title = "",
                    barmode = 'group',
                   legend = dict(
                       x=0,
                       y=1,
                       font=dict(family='Arial', size=18, color='black'))
                  )
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Employment-group-growth-bar')

In [137]:
cities = merge_city_5yAverage['City, State'].tolist()

Population = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Population Growth Rate'],
    name = "Population"
)

Rent = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Monthly Rent Growth Rate'],
    name = "Monthly Gross Rent"
    
)

data = [Population, Rent]
layout = go.Layout( title = "",
                    barmode = 'group',
                   legend = dict(
                       x=0,
                       y=1,
                       font=dict(family='Arial', size=18, color='black'))
                  )

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Rent-group-growth-bar')

In [138]:
cities = merge_city_5yAverage['City, State'].tolist()

Population = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Population Growth Rate'],
    name = "Population"
)

Cost = go.Bar(
    x = cities,
    y = merge_city_5yAverage['5-Year Average Owner Monthly Costs Growth Rate'],
    name = "Monthly Owner Cost"
)

data = [Population, Cost]
layout = go.Layout( title = "",
                    barmode = 'group',
                   legend = dict(
                       x=0,
                       y=1,
                       font=dict(family='Arial', size=18, color='black'))
                  )

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='owner-cost-group-growth-bar')